main {
  width: 100%;
  height: 80vh;
  padding: 0px 32px;
  .main-content {
    max-width: 1380px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 150px;

    .text-wrapper {
      .Revolutionary-text {
        font-size: 53px;
        color: #000000;
        font-weight: bold;
        width: 583px;
        height: 204px;
        line-height: 60px;
        margin-bottom: 18px;
      }
      .lorem {
        width: 500px;
        height: 95px;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        color: #525252;
        margin-bottom: 34px;
      }
      .buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
        margin-bottom: 37px;

        .Learn-more-btn {
          width: 213px;
          height: 48px;
          border-radius: 5px;
          color: #ffffff;
          background-color: red;
          padding: 16px 65px;
          font-size: 16px;
          box-shadow: 2px 1px 7px -1px rgba(0, 0, 0, 0.76);
          -webkit-box-shadow: 2px 1px 7px -1px rgba(0, 0, 0, 0.76);
          -moz-box-shadow: 2px 1px 7px -1px rgba(0, 0, 0, 0.76);
          -webkit-transition: scale 0.7s;
          -o-transition: scale 0.7s;
          transition: scale 0.7s;
          &:hover {
            scale: 1.1;
          }
        }

        .Order-now-btn {
          width: 213px;
          height: 48px;
          border-radius: 5px;
          color: #000000;
          background-color: #ffffff;
          border: 1px solid red;
          padding: 16px 65px;
          font-size: 16px;
          box-shadow: 2px 1px 7px -1px rgba(0, 0, 0, 0.76);
          -webkit-box-shadow: 2px 1px 7px -1px rgba(0, 0, 0, 0.76);
          -moz-box-shadow: 2px 1px 7px -1px rgba(0, 0, 0, 0.76);
          -webkit-transition: scale 0.7s;
          -o-transition: scale 0.7s;
          transition: scale 0.7s;
          &:hover {
            scale: 1.1;
          }
        }
      }
      .download-our-app {
        font-size: 24px;
        color: #000000;
        width: 480px;
        height: 95px;
        font-weight: 500;
        line-height: 30px;
      }
    }
    .buttons2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 22px;
      -moz-column-gap: 22px;
      column-gap: 22px;

      .google-play-icon {
        width: 115px;
        height: 40px;
        border-radius: 7px;
        border: 1px solid #000000;
        font-size: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 12px;
        -webkit-column-gap: 5px;
        -moz-column-gap: 5px;
        column-gap: 5px;
        padding: 0px 8px;
        font-weight: 600;
        color: #000000;
      }
      .apple-icon {
        width: 115px;
        height: 40px;
        border-radius: 7px;
        border: 1px solid #000000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 12px;
        -webkit-column-gap: 5px;
        -moz-column-gap: 5px;
        column-gap: 5px;
        padding: 0px 12px;
        color: #000000;
        font-weight: 600;
      }
    }
  }
  .dodge {
    margin-top: 125px;
  }
}
// for tablet
@media (max-width: 768px) {
  main {
    padding: 0px 100px;
    .main-content {
      flex-direction: column;
      margin-top: 75px;
      .text-wrapper {
        text-align: center;
        .lorem {
          margin: auto;
        }
        .buttons {
          width: 500px;
          margin: auto;
          column-gap: 20px;
          margin-bottom: 37px;
          justify-content: center;
        }
        .download-our-app {
          margin: auto;
        }
      }
      .buttons2 {
        width: 260px;
        margin: auto;
      }
    }
    .dodge {
      width: 550px;
      margin-top: 50px;
    }
  }
}
// for phone
@media (max-width: 500px) {
  main {
    padding: 0px 15px;

    .main-content {
      .text-wrapper {
        .Revolutionary-text {
          width: 400px;
          font-size: 45px;
          margin: auto;
        }
        .lorem {
          margin: auto;
          width: 400px;
          font-size: 17px;
        }
        .buttons {
          column-gap: 25px;
          width: 450px;
        }
        .download-our-app {
          width: 356px;
        }
      }
    }
    .dodge {
      width: 450px;
    }
  }
}
